body{
    font: 16px "Times New Roman", sans-serif;
    background-color: #b6e5ed;
    display: grid;
    grid-template-areas:
            "h h h h h h h h h h h h h"
            "i i i i i i i i i i i a a"
            "t t t t t t t t t t t t t"
            "f f f f f f f f f f f f f";
}
header{
    grid-area: h;
    background-color: #3c82ad;
    border: 1px solid white;
    border-radius: 10px;
    height: 200px;
    line-height: 160px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px red, 0px -3px rgba(255, 255, 255, 0.34);
}
 .images{
    grid-area: i;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 1130px;
    height: 410px;
}
.images img{
    width: 560px;
    height: 200px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}
.images .top-right:hover{
    transform: scale(2,2) translate(-140px, 60px);
}
.images .top-left:hover{
    transform: scale(2,2) translate(140px, 60px);
}
.images .bottom-right:hover{
    transform: scale(2,2) translate(-140px, -60px);
}
.images .bottom-left:hover{
    transform: scale(2,2) translate(140px, -60px);
}
aside{
    float: right;
    grid-area: a;
    border: 1px solid white;
    background-color: #ffba0c;
    width: 200px;
    margin-right: 0;
    border-radius: 10px;
    height: 410px;
}
aside div{
    position: relative;
    top: 125px;
    left: -85px;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: white;
    color: #ffba0c;
    text-transform: uppercase;
    transform: rotate(90deg);
    box-shadow: 0 2px 2px rgb(255, 255, 255), 0 10px 10px rgb(255, 255, 255);
}

main {grid-area: t;}
.text{
    float: left;
    width: 31.8%;
    overflow-y: scroll;
    max-height: 200px;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 5px;
	border-radius: 10px;
}
footer{
    grid-area: f;
}
#join{
    position: fixed;
	left: 95%;
	color: white;
	background-color: black;
	border-radius: 100%;
	padding: 9px 3px;
	text-align: center;
	z-index: 1;
}
#join:hover:after{
	content: " US ON TELEGRAM";
}
#join:hover{
	left: 83%;
	width: 200px;
	border-radius: 30px;
	
}
footer{
    border: 1px solid white;
    border-radius: 10px;
    background-color: #3f93c1;
    height: 200px;
    text-align: center;
    clear: both;
    color: white;
    grid-area: f;
}
footer h2{
    font-size: 35px;
    margin-bottom: 0;
    margin-top: 0;
}
footer h3{
    margin-top: 0;
    position: relative;
    left: 530px;
    margin-left: 10px;
    float: left;
}
footer h3:hover{
    color: red;
}
footer p{
    position: relative;
    top: 60px;
    left: -140px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-style: italic;
}
footer input{
    position: relative;
    top: 60px;
    left: -140px;
}
@media screen and (max-width: 768px){
    body{
        grid-template-areas:
                "h h h h h h h h h h h h h"
                "a a a a a a a a a a a a a"
                "m m m m m m m m m m m m m"
                "f f f f f f f f f f f f f";
    }
    aside{
        float: none;
        width: 100%;
        height: 150px;
    }
    aside div{
        position: relative;
        top: -2px;
        left: 70px;
        padding-top: 100px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 30px;
        transform: none;
        border-radius: 10px;
        width: 60%;
    }
    main{grid-area: m;}
    .images{
        display: none;
    }
    .texts{
        position: relative;
        width: 100%;
    }
    .text{
        float: none;
        width: 100%;
    }
    footer h3{
        position: relative;
        left: 70px;
    }
}