body {
    font: 10pt Arial, Helvetica, sans-serif;
    background: white;
    margin: 0;
}
h2,h3 {
    color: red;
    margin-bottom: 0;
    text-align: center;
}
#container {
    width: 700px;
    margin: 0 auto;
    background: #f0f0f0;
}
header {
    background: red;
    color: white;
    padding: 5px;
    text-align: center;
}
main {
    float: left;
    width: 450px;
    padding: 10px;
    border-right: 1px dashed #183533;
    background: #fff;
}
aside {
    float: left;
    width: 120px;
    padding: 10px;
}
aside>p> a{
   color: red;
    text-decoration: none;
}
footer {
    background: #8fa09b;
    color: #fff;
    padding: 5px;
    text-align: center;
}
.clear {
    clear: both;
}
#eps article img {
    border:1px solid #d6d6d6;
    width:150px;
    height:150px;
    float: left;
    margin-right: 20px;
    margin-left: 50px;
}
#eps article {
    overflow: hidden;
    padding: 15px 0;
    border-bottom: 1px dashed #d6d6d6;
}
#eps a {
    color: red;
}
