body{
    font-size: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-flow: row wrap;
}
ul li {
    display: inline-block;
    width: 10px;
    background-color: #ff5640;
    color: white;
    padding: 80px 105px;
    margin-left: 1px;
}