ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #4b57ff;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-self: center;
    flex-flow: wrap;
    justify-content: flex-end;
}
ul li {
    display: inline-block;
    color: white;
    padding: 10px 20px;
}
@media screen and (max-width: 800px){
	ul{
		justify-content: center;
	}
}
@media screen and (max-width: 500px){
	ul{
		flex-direction: column;
		justify-content: center;
	}
}